@import url('https://fonts.googleapis.com/css?family=Sen:400,700&display=swap&subset=latin-ext');



body{
  font-family: 'Sen', sans-serif !important; 
  text-shadow: 1px 1px 6px #73706e;
background: #ecdecb66;
}

.Header {
    background-image: linear-gradient(to right, #b98c8c , #717153);
    box-shadow: 0px 0px 5px rgba(0,0,0,1)
    
    }


a{
    color: #9bbfe6;
    
}

.Corusel{
    box-shadow: 0px 0px 5px rgba(0,0,0,1);
}

/* .Card{
   
   margin: 20px;
} */


.navbar-collapse{
    flex-basis: 100%;
    @media (min-width:992px) ;
        flex-basis:auto;
}


.Img{
   
    background-image: url('../companent/images/bali.jpg');
    background-size:cover;
}
.Row{
    background: #cecece;
    border-radius: 30px;
}

.Footer{
    
    background-image: linear-gradient(to right, #b98c8c , #717153);
    box-shadow: 0px 1px 9px 4px;

}
.Footerend{
    text-align: center;
}
.Daxili{
    width: 200px;
}
.Xarici{
    width: 200px;
}

.Xususi{
    width: 200px;
}


@media screen and (max-width: 992px) {
        div.navbar-collapse {
            flex-basis: 100% !important;
        
        }
    }

@media screen and (min-width: 992px) {
        div.navbar-collapse {
            flex-basis: auto !important;
            flex-grow: 0 !important
        }
    }
@media screen and (max-width: 992px) {
         p.n11{
            display: none !important;
        }
    }

@media screen and (max-width: 992px) {
        div.n1{
            height: 600px !important;
        }
       
    }
@media screen and (max-width: 992px) {
        .C{
            display: inline;
        }
       
    }


@media screen and (max-width: 992px) {
        p.n22{
           display: none !important;
       }
   }

@media screen and (max-width: 992px) {
    div.D{
       display: inline !important;
   }
}

@media (min-width: 768px){
.col-md-6 {
    max-width: 100%;
}}

@media (min-width: 576px){

.col-sm-6 {
    
    max-width: 100%;
}}

@media screen and (max-width: 500px) {
    .snip0056{
        margin: 0 !important;
    }
   
}


@media (min-width: 100px){
.col-6 {
    
    max-width: 100%;
}}

@media screen and (max-width: 992px) {
       div.n2{
           height: 200px !important;
       }
      
   }
@media screen and (max-width: 992px) {
    p.n33{
       display: none !important;
   }
}

@media screen and (max-width: 992px) {
   div.n3{
       height: 200px !important;
   }
  
}
@media screen and (max-width: 992px) {
    p.n44{
       display: none !important;
   }
}
@media screen and (max-width: 992px) {
    div.city{
       display: none !important;
   }
}
@media screen and (max-width: 992px) {
    p.city1{
       width: 400px !important;
       margin-left: 50px !important;
       text-align: center !important;
   }
}
@media screen and (max-width: 992px) {
    p.city2{
        width: 400px !important;
        margin-left: 50px !important;
       text-align: center !important;
   }
}
@media screen and (max-width: 992px) {
    p.city3{
        width: 400px !important;
        margin-left: 50px !important;
       text-align: center !important;
   }
}
@media screen and (max-width: 992px) {
    p.city4{
        width: 400px !important;
        margin-left: 50px !important;
       text-align: center !important;
   }
}

@media screen and (max-width: 992px) {
   div.n4{
       height: 200px !important;
       
       text-align: center !important;
   }
  
}

@media screen and (max-width: 992px) {
        img.card-img {
          height: 600px !important;
        
        }
      }



    /* .navbar-collapse 
    flex-basis: 100%
    @media (min-width: 992px)
      flex-basis: auto
      flex-grow: 0  */
